/*--- flone preloader ---*/

.flone-preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

// .flone-preloader {
//   width: 50px;
//   height: 50px;
//   display: inline-block;
//   padding: 0;
//   text-align: left;
//   box-sizing: border-box;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-left: -25px;
//   margin-top: -25px;
// }

// .flone-preloader span {
//   position: absolute;
//   display: inline-block;
//   width: 50px;
//   height: 50px;
//   border-radius: 100%;
//   background: #7460ef;
//   -webkit-animation: preloader 1.3s linear infinite;
//   animation: preloader 1.3s linear infinite;
// }

// .flone-preloader span:last-child {
//   animation-delay: -0.8s;
//   -webkit-animation-delay: -0.8s;
// }

// @keyframes preloader {
//   0% {
//     transform: scale(0, 0);
//     opacity: 0.5;
//   }
//   100% {
//     transform: scale(1, 1);
//     opacity: 0;
//   }
// }

// @-webkit-keyframes preloader {
//   0% {
//     -webkit-transform: scale(0, 0);
//     opacity: 0.5;
//   }
//   100% {
//     -webkit-transform: scale(1, 1);
//     opacity: 0;
//   }
// }

.progress-9 {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, $theme-color 80%),
    radial-gradient(var(--r1) var(--r2) at bottom, $theme-color 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, $theme-color 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: p9 2s infinite linear;
}
@keyframes p9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

/*--- end of flone preloader ---*/
