@import 'normalize.css';
@import '../../css/icons.min.css';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import '../Variable.scss';
@import '../reponsive';
@import '../preloader';
@import '../footer';
@import '../header';
@import '../breadcrumb';
@import '../contact';
@import '../section-title';
@import '../banner';
@import '../product';
@import '../blog';
@import '../shop';
@import '../sidebar';
@import '../cart';
@import '../checkout';
@import '../login-register';
@import '../inputAdmin';
@import '../product-model';
@import '../my-account';
/*  1. Template default CSS
/*----------------------------------------*/

/*-- Google Font --*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,600,700|Poppins:300,400,500,600,700,800,900|Abril+Fatface&display=swap');

/*-- Common Style --*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: $white;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: $mainfont;
  color: #000;
}
