@import 'Variable';
.swiper {
  width: 100%;
  height: calc(100vh - 200px);
}

.swiper-wrapper {
  width: inherit;
  height: inherit;
}
.swiper-slide {
  width: inherit;
  height: inherit;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #8c72a524;
  padding: 30px;
  border-radius: 50%;
  color: $theme-color;
  width: 50px;
  height: 30px;
  margin: 0 30px;
  @media #{$xs-layout} {
    width: 10px;
    height: 20px;
  }
  &::after {
    font-weight: bold;
  }
  &:hover {
    background-color: #aea8b4ec;
  }
}
.swiper-pagination-bullet-active {
  background: $theme-color;
}

.HeroSliderOne {
  margin-bottom: 2rem;
}

.service-slide {
  flex-direction: column;
  gap: 10px;
  .content {
    width: 80%;
    height: 70%;
    word-wrap: break-word;
  }
  .button-class {
  }
}

.Slide-galleries {
  position: relative;
  height: inherit;
  width: inherit;
  .Slide-galleries-content {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
    h2 {
      text-transform: uppercase;
      font-size: 35px;
      color: $pink;
      font-weight: bold;
    }
  }
}
